{% extends 'base.html' %}
{% load static %}

{% block title %} Gallery {% endblock %}
{% block body %}

<!-- Page Header Start -->
<div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">Gallery</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Gallery</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- Events Section Start -->
<div class="container my-6">
    <div class="text-center mb-5">
        <h2 class="fw-bold">📸 Our School Gallery</h2>
        <p>Take a look at some of the memorable moments from recent events.</p>
    </div>
    <div class="container my-6">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
            <div class="card event-card">
                <a href="{% static 'img/image14.jpg' %}" target="_blank">
                    <img src="{% static 'img/image14.jpg' %}" class="card-img-top" alt="Event 1">
                </a>
            </div>
            </div>
            <div class="col">
            <div class="card event-card">
                <a href="{% static 'img/image2.jpg' %}" target="_blank">
                    <img src="{% static 'img/image2.jpg' %}" class="card-img-top" alt="Event 1">
                </a>
            </div>
            </div>
            <div class="col">
            <div class="card event-card">
                <a href="{% static 'img/image3.jpg' %}" target="_blank">
                    <img src="{% static 'img/image3.jpg' %}" class="card-img-top" alt="Event 1">
                </a>
            </div>
            </div>
            <div class="col">
            <div class="card event-card">
                <a href="{% static 'img/image4.jpg' %}" target="_blank">
                    <img src="{% static 'img/image4.jpg' %}" class="card-img-top" alt="Event 1">
                </a>
            </div>
            </div>
            <div class="col">
            <div class="card event-card">
                <a href="{% static 'img/image5.jpg' %}" target="_blank">
                    <img src="{% static 'img/image5.jpg' %}" class="card-img-top" alt="Event 1">
                </a>
            </div>
            </div>
            <div class="col">
            <div class="card event-card">
                <a href="{% static 'img/image11.jpg' %}" target="_blank">
                    <img src="{% static 'img/image11.jpg' %}" class="card-img-top" alt="Event 1">
                </a>
            </div>
            </div>
            <div class="col">
            <div class="card event-card">
                <a href="{% static 'img/image7.jpg' %}" target="_blank">
                    <img src="{% static 'img/image7.jpg' %}" class="card-img-top" alt="Event 1">
                </a>
            </div>
            </div>
            <div class="col">
            <div class="card event-card">
                <a href="{% static 'img/image8.jpg' %}" target="_blank">
                    <img src="{% static 'img/image8.jpg' %}" class="card-img-top" alt="Event 1">
                </a>
            </div>
            </div>
            <div class="col">
            <div class="card event-card">
                <a href="{% static 'img/image9.jpg' %}" target="_blank">
                    <img src="{% static 'img/image9.jpg' %}" class="card-img-top" alt="Event 1">
                </a>
            </div>
            </div>
            <div class="col">
            <div class="card event-card">
                <a href="{% static 'img/image10.jpg' %}" target="_blank">
                    <img src="{% static 'img/image10.jpg' %}" class="card-img-top" alt="Event 1">
                </a>
            </div>
            </div>
            <div class="col">
            <div class="card event-card">
                <a href="{% static 'img/image15.jpg' %}" target="_blank">
                    <img src="{% static 'img/image15.jpg' %}" class="card-img-top" alt="Event 1">
                </a>
            </div>
            </div>
            <div class="col">
            <div class="card event-card">
                <a href="{% static 'img/image13.jpg' %}" target="_blank">
                    <img src="{% static 'img/image13.jpg' %}" class="card-img-top" alt="Event 1">
                </a>
            </div>
            </div>
        </div>
</div>
</div>
<!-- Events Section End -->

{% endblock %}
